<!doctype html>
<html ng-app="todoApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
  <link rel="stylesheet" href="node_modules/todomvc-common/base.css">
  <link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
  <script src="js/bootstrap.js"></script>
  <link href="css/bootstrap.css" rel="stylesheet">
  <script src="todo.js"></script>
  <link rel="stylesheet" href="todo.css">
</head>
<body background-color="lightskyblue">

<h2>Todo</h2>
<div ng-controller="TodoListController as todoList" class="flex-container">
  <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
  [ <a href="" ng-click="todoList.archive()">archive</a> ]
  <ul class="unstyled" >
    <li ng-repeat="todo in todoList.todos">
      <label class="checkbox">
        <input type="checkbox" ng-model="todo.done">
        <span class="done-{{todo.done}}">{{todo.item}}</span>
      </label>
    </li>
  </ul>
    <button ng-click="todoList.showAll()">all</button>
    <button ng-click="todoList.showCompleted()">completed</button>
    <button ng-click="todoList.puh()">active</button>
  <form ng-submit="todoList.addTodo()" class="form-group">
    <input type="text" ng-model="todoList.todoText"  size="30" id="dynamic-label-input"
           placeholder="add new todo here">
    <input class="btn-primary" type="submit" value="add">
  </form>
</div>
</body>
</html>
