body {
  background-color: #f5f5f5;
}

h1{

  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
}

button {
  background-color: #ffbfd6;
  border: none;
  color: #4D4D4D;
  padding: 13px 23px;
  text-align: center;
  text-decoration: none;
  display: block;
  border-bottom: 3px solid #EAD7D7;
  font-size: 16px;
}

button:hover{
  border-bottom: 3px solid #58c93a;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.flex-buttons{
  display:flex;
  justify-content: center;
}
.button-click {
  margin-left: 2%;
}






